{% extends "layout.njk" %}

{% block content %}
<form action="/students" class="card" method="POST">
    <section class="avatar" style="background: url(https://source.unsplash.com/collection/1602384/900x900) no-repeat center center / cover"></section>
    
    <section class="details">
        <h3>Novo alun@</h3>

        <div class="item">
            <div>Avatar URL</div>
            <div>
                <input 
                type="url"
                name="avatar_url"
                placeholder="http://"
                >
            </div>
        </div>

        <div class="item">
            <div>Nome do alun@</div>
            <div>
                <input 
                type="text"
                name="name"
                placeholder="Digite o seu nome"
                >
            </div>
        </div>

        <div class="item">
            <div>Email do alun@</div>
            <div>
                <input 
                type="email"
                name="email"
                placeholder="Digite o seu email"
                >
            </div>
        </div>

        <div class="item">
            <div>Data de nascimento</div>
            <div>
                <input 
                type="date"
                name="birth"
                placeholder="Insirar a data de nascimento"
                >
            </div>
        </div>

        <div class="item">
            <div>Ano escolar</div>
            <div>
                <select name="grade" id="grade-education">
                    <option value="5EF">5º ano Ensino Fundamental</option>
                    <option value="6EF">6º ano Ensino Fundamental</option>
                    <option value="7EF">7º ano Ensino Fundamental</option>
                    <option value="8EF">8º ano Ensino Fundamental</option>
                    <option value="9EF">9º ano Ensino Fundamental</option>
                    <option value="1EM">1º ano Ensino Médio</option>
                    <option value="2EM">2º ano Ensino Médio</option>
                    <option value="3EM">3º ano Ensino Médio</option>
                </select>
            </div>
        </div>

        <div class="item">
            <div>Carga horária semanal (h)</div>
            <input 
            type="number"
            name="courseload"
            placeholder="Ex:40"
            >
        </div>

        <div class="item">
            <div>Teacher</div>
            <div>
                <select name="teacher_id">
                    {% for teacher in teacherOptions %}
                    <option value="{{teacher.id}}">{{teacher.name}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <button type="submit" onclick="Validate.allFields(event)">Salvar</button>

    </section>


</form>

{% endblock %}